
html{background-color:#0f0437; padding:1em;}
body{margin:5px;}

/* Flex Container */
header, main, footer{display: -webkit-flex;	display: flex;
  	-webkit-flex-direction: row; flex-direction: row;
    justify-content: space-between; justify-content: space-around;
}

/* Flex container children properties */
header{background-color:#cccc99; border-color: #ccc; border-style:solid; border-radius: 7px; height:100%; max-width:100%;}

.name{ font-family: 'Marvel', sans-serif; font-size:2em; font-weight:bold; order:2;  -webkit-flex: 1 0 0; flex: 1 0 0;margin:auto; }

 .logo{order:1; justify-content:flex-start; min-width: 60%;}
 .images{display:flex; flex-direction: row; -webkit-flex-direction: row;  -webkit-justify-content: flex-end;  justify-content: flex-end; order:3;
 }
.images2{display:none }

/* Flex navigation menu */
.navbar{margin:0;}
nav ul{margin-left:0;display: -webkit-flex;	display: flex; -webkit-flex-direction: row; flex-direction: row; width:98%; padding:5px;}
nav ul a li{ list-style:none;font-family: 'Patua One', cursive;  text-decoration:none;}
nav ul a{text-decoration:none;color:#fff; font-family: 'Patua One', cursive;  justify-content: space-around; margin:auto;}
nav ul a:hover{ color:#f00;  }
nav #menu-toggle {display: none;}
nav .label-toggle {display: none;}

/* Side nav */


/* Content properties */
section h2 {display:flex; flex-direction:row; padding:5px;}
aside { align-items:flex-start; flex-basis:10%; width:100px; -webkit-flex-direction: row; max-width:150px; flex-direction: column; background-color: #cccc99; border-color: #ccc; border-style:solid; border-radius: 7px; text-align:center; flex: 1 0 0;}

section{padding:5px;  background-color:#fff;  margin:5px; border-radius:5px; -webkit-flex: 2 0 0; flex: 2 0 0;}
 h2{font-family: 'Patua One', cursive; font-size:1.2em;font-weight:bold;}
 p{font-family: 'Comfortaa', cursive;padding:4px;}
 
/* Youtube video container */
iframe{width:100%; height:350px;}

/* Footer*/
footer { color:#000;background-color:#cccc99;  padding:15px; flex-direction: row;     font-family: 'Patua One', sans-serif;  border-radius: 7px;font-size:.9em; margin-top:15px;  }
.copyright{justify-content:flex-end; -webkit-justify-content: flex-end;}

/* Media Queries */
  @media (max-width: 352px)
 {
      header,main, footer{
       -webkit-flex-direction: row;  flex-direction: row;
    }

    h2{font-family: 'Patua One', cursive; font-weight:bold;}
    aside{display:none;}
    iframe{width:100%;}
    .logo img{width:100%;}
    .images img{width:100%;}
}


@media screen and (max-width: 768px) {
    header, main, footer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        align-items: flex-start;

    }

    nav ul {
        background-color: #E84545;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0;
        list-style-type: none;
        opacity: 0;
        transition: all 1s ease;
        visibility: hidden;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        border-radius: 5px;
    }

    nav li {
        border-bottom: 2px solid #53461a;
        color: #53534f;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        padding: 2em 0;
        width: 100%
    }

    nav ul a li:hover {
        color: yellow;
        transition: all 1s ease;
    }

    nav #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 100%;
        visibility: visible;
    }

    nav .label-toggle {background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: flex-start;
        /* float: right; */
        height: 35px;
        width: 35px;
    }

    nav .wrapper {
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-top: 5px;
    }

    aside {
        display: none;
    }

    .images {
        height: 80px;
        margin: auto;
    }

    .name {
        order: 2;
    }

    .logo {
        order: 1;
        -webkit-align-items: center;
        align-items: center;
        margin: auto;
    }
}
