
<div class="footer" style="float:right">
<!--   <ul class="footer"  style="list-style-type:none"><li> Lead Systems Technologies &copy;{{ dater }} All rights reserved.<li></ul> -->
   <ul class="footer"  style="list-style-type:none"><li> Web Page Pros &copy;{{ now | date("Y") }} All rights reserved.<li></ul>
</div>
